# Name Data

## Gathering

If there is a "Gold Standard" for a First Name and Gender dataset it must be the [National data](https://www.ssa.gov/oact/babynames/limits.html) provided by the U.S. Social Security Administration.

> All names are from Social Security card applications for births that occurred in the United States after 1879. Note that many people born before 1937 never applied for a Social Security card, so their names are not included in our data. For others who did apply, our records may not show the place of birth, and again their names are not included in our data.
All data are from a 100% sample of our records on Social Security card applications as of March 2019.

Let's examine the dataset

In [6]:
import requests
import io
import re
from zipfile import ZipFile


url = "https://www.ssa.gov/oact/babynames/names.zip"
r = requests.get(url, allow_redirects=True)

raw = io.BytesIO(r.content)
data = {}

with ZipFile(raw) as myzip:
    file_names = myzip.namelist()
    file_names = filter(lambda x: 'yob' in x, file_names)
    for f in file_names:
        year_of_birth = int(re.search(r"[0-9]{4}", f).group())
        with myzip.open(f) as myfile:
            data[year_of_birth] = myfile.read().decode().splitlines()

Since we are interested in aggregating these counts by name across several years let's do so after choosing a range of years

In [7]:
name_counts = {}
start_year = 1970

for year, names in data.items():
    if year < start_year:
        continue
    for line in names:
        name, gender, count = line.split(",")
        count = int(count)
        current_counts = name_counts.get(name, {'M': 0, 'F': 0})
        current_counts[gender] += count
        name_counts[name] = current_counts

In [12]:
# make a pandas DataFrame
import pandas as pd

df = pd.DataFrame(list(name_counts.items()), columns=['Name', 'Counts'])
df = df.join(df['Counts'].apply(pd.Series))
del df['Counts']

In [14]:
df.sample(100)

               Name     M      F
43824        Rondie     5      0
80752       Adithri     0     23
82917       Kingman     6      0
71163       Zamyiah     0     90
62735      Darreion    12      0
36164     Corddaryl     5      0
61825       Cadynce     0    272
76697      Armonnie     0      5
39312        Kevona     0    113
83813         Liyan    19      5
60141        Liviya     0    164
85349    Abdulhaadi     5      0
18676       Idrissa   119      6
62716       Chartez     5      0
34749         Mykah   785   1098
13157       Lenford    10      0
72288          Guru    13      0
10117       Geraldo  2013      0
39966      Kristofe     9      0
55443       Kamirah     0    293
15778    Harrington   142      0
10185          Otha   682      9
75591        Kaelum    80      0
75572        Rhonin    99      0
73393       Jaciyah     0     16
38482       Melquan   259      0
17308        Lekita     0    129
66284       Xanthus    11      0
76623         Aalya     0     53
50694       Zakeria     5    213
...             ...   ...    ...
27433        Renota     0     44
56061       Dajiana     0     15
66676       Nevayah     0    302
7411        Javette     0     49
51952       Tavario     5      0
29473        Sochil     0     18
80983       Urielle     0     19
43561          Oday    70      0
86734     Reinhardt    11      0
8563        Judyann     0     46
17043        Ameera     0   2277
27559       Amellia     0    619
34372  Vanessamarie     0     40
29519         Walia     0      5
57938      Clairece     0      5
52601       Demeria     0     56
78           Tamara   293  75675
4478         Torrey  4550   1102
18171        Master   346      0
77003       Mynasia     0      5
63733       Danaiya     0     61
10993          Derk   243      0
75597         Maxym    24      0
42072   Joshuaaaron    11      0
79978        Pypper     0      5
17968         Adran    31      0
27172       Delmond     5      0
45005       Domonik   106      0
64256       Torrien    43      0
27951        Jonlyn     0      5

[100 rows x 3 columns]